a,body,html{color:#333}
.fl,div.top_search{float:left}
body,dd,dl,form,p{margin:0}
ol,ul{margin:0;padding:0;list-style:none}
body,button,input,select,textarea{font:12px/1.6 "微软雅黑"}
h1,h2,h3,h4,h5,h6{font-size:100%;margin:0}
button,input,select,textarea{font-size:100%}
a{text-decoration:none}
i,em{
  font-style: normal
}
b,strong{
 
  font-weight: normal
}
a img{border:0;vertical-align:middle}
input,textarea{margin:0;padding:0;outline:0}
table{border-collapse:collapse;border-spacing:0}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}
//颜色
.bd-A_0 {
    border-color: #FF5588;
  }
  .bd-A_1 {
    border-color: #FF5588;
  }
  .bd-A_2 {
    border-color: #FF5588;
  }
  .bd-A_3 {
    border-color: #FF5588;
  }
  .bd-A_4 {
    border-color: #FF9922;
  }
  .bd-A_5 {
    border-color: #5577FF;
  }
  .bd-A_6 {
    border-color: #3399FF;
  }
  .bd-A_7 {
    border-color: #6644FF;
  }
  .bd-A_8 {
    border-color: #EE66EE;
  }
  .bd-A_9 {
    border-color: #33CCEE;
  }
  .bd-A_10 {
    border-color: #44BB77;
  }
  .bd-A_11 {
    border-color: #FF44BB;
  }
  .bd-A_12 {
    border-color: #00CC88;
  }
  .bd-A_13 {
    border-color: #44BB77;
  }